#header { /*STYLING HEADER*/
	text-align: center;
	border: 2px solid black;
	margin-top: 20px;
}

#instructions { /*STYLING INSTRUCTION BOX*/
	float: left; /*https://www.w3schools.com/cssref/pr_class_float.asp*/
	width: 40%;
	height: auto;
	border: 2px solid black;
	padding: 15px 15px 15px 15px;
	margin-top: 25px;
}

#main { /*STYLING MAIN BOX*/
	float: right;
	width: 40%;
	height: auto;
	border: 2px solid black;
	padding: 15px 15px 15px 15px;	
	margin-top: 25px;
}

body { /*STYLING BODY*/
	margin: 0 10%;
	padding-bottom: 25px; 
	font-family: "Ubuntu", sans-serif;
}

p {
	font-size: 20px;
}